<mat-card>
    <mat-card-header class="backgroud primary">
        <img mat-card-avatar mat-card-md-image src="./../../assets/Peterson_2500-2500.jpg" />
        <div>
            <mat-card-title>Peterson Salme</mat-card-title>
            <mat-card-subtitle>Software Engineer</mat-card-subtitle>
        </div>
    </mat-card-header>
    <mat-card-content>
        <p>Maringá - PR</p>
        <p>Angular, Vue.js</p>
    </mat-card-content>
    <mat-card-footer>
        <div>
            <a href="" target="_blank">Acessar GitHub</a>
        </div>
        <mat-card-actions>
            <button mat-icon-button><mat-icon>edit</mat-icon></button>
            <button mat-icon-button><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>
