.mural {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 0 2rem;
}

.d-flex{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sem-desenvolvedores {
  text-align: center;
  padding: 2rem 0 5rem;
}





.buscar-pensamentos{
  align-self: end;
  margin-right: 15vw;
}


.cadastro{
  margin-top: -3vw;
  }

  @media (max-width: 1080px) {
    .fixed-header {
      position: relative;
      z-index: 1000;
      top: -7vw;
    }
    .cadastro{
      margin-top: -6vw;
      }

    #label_pesquisar
    {
      background-color: rgba(45,55,71,255);
      font-size: 15px;
      font-weight: bold;
      width: 30vw;

    }
  }
  @media (min-width: 1600px) {
    .cadastro{
      margin-top: -1.4vw;

      }
      .fixed-header {
        position: relative;
        z-index: 1000;
        top: -4.4vw;
      }
      #label_pesquisar
    {
      background-color: rgba(45,55,71,255);
      font-size: 20px;
      font-weight: bold;
      width: 30vw;

    }
  }
