.mural {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 0 2rem;
}

.d-flex{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sem-desenvolvedores {
  text-align: center;
  padding: 2rem 0 5rem;
}


#label_pesquisar
{
  background-color: rgba(45,55,71,255);
  font-size: 18px;
  font-weight: bold;
  color: white ;
  width: 30vw;

}

.fixed-header {
  position: relative;
  z-index: 1000;
  top: -4.5vw;
}

.buscar-pensamentos{
  align-self: end;
  margin-right: 15vw;
}


.cadastro{
  margin-top: -1.5vw;
  }
