.mural {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 0 2rem;
}

.d-flex{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sem-desenvolvedores {
  text-align: center;
  padding: 2rem 0 5rem;
}


#label_pesquisar
{
  background-color: rgba(45,55,71,255);
  font-size: 18px;
  font-weight: bold;
  color: white ;
  width: 20vw;

}

.fixed-header {
  position: fixed;
  top: 0;
  right: 20vw;
  width: auto;
  z-index: 1050;

  padding: 1rem;
}


.content-with-header {
  padding-top: 70px; 
}
