<ul [ngClass]="{ 'flex-row-large' : flexRowLarge }" class="dev-list" *ngIf="devs?.length > 0; else empty">
  <li class="dev-item" *ngFor="let dev of devs">
    <div class="buttons">
      <button
        (click)="editItem(dev)"
        type="button"
        class="btn btn-sm btn-primary mr-1">
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>
      <button
        [swal]="deleteSwal"
        type="button"
        class="btn btn-sm btn-danger">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>

    <div>
      <img class="dev-avatar" [src]="dev.avatar" [alt]="dev.nome">
      <h1 class="dev-nome">{{ dev.nome }}</h1>
      <address class="dev-cidade">{{ dev.cidade.nome }} - {{ dev.estado.nome }}</address>
    </div>

    <div>
      <div class="dev-formacao-academica">
        <fa-icon [class]="'color-secondary-0'" [icon]="faGraduationCap"></fa-icon>
        <p *ngIf="dev.formacaoAcademica">{{ dev.formacaoAcademica | formacaoAcademica }}</p>
      </div>
      <div class="dev-especialidades">
        <fa-icon [class]="'color-secondary-0'" [icon]="faLightbulb"></fa-icon>
        <p *ngIf="dev.especialidades">{{ dev.especialidades }}</p>
      </div>
      <a class="dev-url btn btn-sm btn-outline btn-dark" *ngIf="dev.gitHubUser.html_url" [href]="dev.gitHubUser.html_url" target="_blank">
        <fa-icon [icon]="faGithub"></fa-icon> GitHub
      </a>
    </div>

    <swal
      #deleteSwal
      title="Atenção!"
      text="Realmente deseja excluir o(a) Dev {{ dev.nome }}?"
      icon="question"
      [confirmButtonText]="'Sim'"
      [cancelButtonText]="'Cancelar'"
      [customClass]="'swal-custom'"
      [showCancelButton]="true"
      [focusCancel]="true"
      (confirm)="deleteItem(dev)">
    </swal>

  </li>
</ul>

<ng-template #empty>
  <h6 class="color-danger-0">Nenhum Dev encontrado!</h6>
</ng-template>
