::placeholder {
  color: var(--gray-2);
}

input,
select,
textarea {
  background-color: var(--light-0);
  border: 1px solid var(--gray-0);
  color: var(--gray-4);
  padding: 0.75em 0.5em;
  border-radius: 0.25em;
  margin-bottom: 1em;
  max-width: 100%;
  &:focus {
    outline: none;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  }
  &:disabled {
    opacity: 0.5;
  }
}
