:root {
  /* COLORS */
  /* dark */
  --dark-0: #000000;
  --dark-1: #111111;
  --dark-2: #222222;
  --dark-3: #333333;
  /* light */
  --light-0: #ffffff;
  --light-1: #f5f5f5;
  --light-2: #eeeeee;
  --light-3: #dddddd;
  /* gray */
  --gray-0: #cccccc;
  --gray-1: #bbbbbb;
  --gray-2: #aaaaaa;
  --gray-3: #999999;
  --gray-4: #666666;
  --gray-5: #555555;
  /* primary */
  --primary-0: #1165a3;
  --primary-1: #2076b3;
  --primary-2: #06548b;
  /* secondary */
  --secondary-0: #84bc50;
  --secondary-1: #9fcf72;
  --secondary-2: #71aa3c;
  /* danger */
  --danger-0: #b32525;
  --danger-1: #ca3535;
  --danger-2: #a81c1c;
  /* waring */
  --warning-0: #ffd900;
  --warning-1: #ffe657;
  --warning-2: #f1cd00;
  /* COLORS */

  /* SPACES */
  --space-small: 16px;
  --space-medium: 32px;
  --space-large: 64px;
  /* SPACES */
}
