<div class="div-form">

    <form [formGroup]="formDevGithub" (ngSubmit)="buscarGitDev()">
        <div>
            <label>Usuário GitHub</label>
            <input placeholder="Digite seu usuário do GitHub" formControlName="github_username" />
        </div>

        <button class="botao-github" [disabled]="!formDevGithub.valid">
            <img src="../../assets/git.svg" />
            <span>Buscar dados do GitHub</span>
        </button>

        <hr color="#E2E8F0" />
    </form>

    <form method="POST" [formGroup]="formDev" (ngSubmit)="salvar()">

        <div>
            <label>Avatar (URL)</label>
            <input placeholder="Digite seu avatar do GitHub" formControlName="avatar_url" />
        </div>

        <div>
            <label>Nome * (Obrigatório)</label>
            <input placeholder="Digite seu nome" formControlName="nome"/>
        </div>

        <div>
            <label>Email</label>
            <input placeholder="Digite seu email" formControlName="email" />
        </div>

        <div>
            <label>Localidade * (Obrigatório)</label>
            <input placeholder="Digite sua localidade" formControlName="cidade" />
        </div>

        <hr color="#E2E8F0" />

        <span class="label-profissional">PROFISSIONAL</span>

        <div style="margin-top: 60px">
            <label>Formação</label>
            <input placeholder="Digite a sua formação acadêmica" formControlName="formacao" />
        </div>

        <div>
            <label>Tecnologias * (Obrigatório)</label>
            <textarea placeholder="ex: HTML/CSS, Vue, Angular..." formControlName="techs"></textarea>
        </div>

        <div>
            <button class="btn-cadastrar" [disabled]="!formDev.valid">
                <span>Cadastrar</span>
            </button>
        </div>
    </form>
</div>

<div class="listagem">
    <div *ngFor="let d of devs">
        <div class="listagem-item">
            <div class="avatar">
                <img src="{{d.avatar_url}}" />
            </div>
            <div class="item-dados">
                <div class="nome-dev">{{d.nome}}</div>
                <div class="cidade-dev">{{d.cidade}}</div>
                <div class="techs-dev">{{d.techs}}</div>
            </div>
            <a class="btn-acessar-git" href="https://github.com/{{d.github_username}}" target="_blank">
                Acessar Github
            </a>
        </div>
    </div>
</div>