* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0 !important;
}

header {
    background-color: #1b1f23;
    color: white;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.5rem;
}

header .highlight {
    color: #00c79d;
}

.search-bar  {
    padding: 8px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}

.form-container {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
    top: -15px;
}

.cards-container {
    border-radius: 8px;
    padding: 20px;
    margin-top: 40px;
}

.form-container {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
}

.cards-container {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 3px solid #a0aec0;
    border-radius: 5px;
}

.github-btn {
    background-color: white;
    color: #495467;
    padding: 10px;
    border: 3px solid #495467;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
}

.submit-btn {
    background: #00c79d;
    color: #495467;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}

.submit-btn:hover {
    background: #00b086;
}

.card {
    background: #1b1f23;
    color: white;
    border-radius: 10px;
    padding: 10px; /* Reduzido o padding */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha todos os itens à esquerda */
    text-align: left;
    width: 350px; /* Ajuste de largura, se necessário */
    height: 250px; /* Altura fixa menor */
    overflow-y: auto; /* Permite rolar o conteúdo se necessário */
}

.card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.card h3 {
    margin-bottom: 5px;
}

.github-link {
    background: #00c79d;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    white-space: nowrap;
}

.actions {
    display: flex;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
}

.edit-btn, .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 5px;
}

.edit-btn i {
    color: #4299e1;
}

.delete-btn i {
    color: #e53e3e;
}

.edit-btn:hover i, .delete-btn:hover i {
    opacity: 0.8;
}

.actions-container {
    display: flex;
    align-items: center;
    gap: 130px;
    margin-top: 45px;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.3s ease; /* Transição suave */
}


.card:hover .actions-container {
    opacity: 1; /* Torna os botões visíveis ao passar o mouse */
}
