<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro DEV</title>
  <link rel="stylesheet" href="app.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
  <header style="display: flex;">
    <div class="column" style="flex: 1;"></div>
    <div class="column" style="flex: 2;">
      <h1 style="padding-left: 142px"><span class="highlight">|</span><b>Cadastro DEV</b></h1>
    </div>
    <div class="column" style="flex: 1; position: relative;">
      <div style="width: 100%;">
        <i class="fas fa-search"
          style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); color: #aaa;"></i>
        <input type="text"
          style="width: 100%; background-color: #2d3748; color: white; border-radius: 5px; border: 1px solid #ddd; font-size: 1rem;">
      </div>
    </div>
    <div class="column" style="flex: 1;"></div>
  </header>

  <main>
    <div class="form-container">
      <form [formGroup]="devForm" (ngSubmit)="addOrUpdateDev()">
        <button type="button" id="fetch-github-data" class="github-btn" (click)="fetchGitHubData()">
          <i class="fab fa-github" style="margin-right: 8px; font-size: 1.5em;"></i>
          Cadastrar com GitHub
        </button>
        <div class="input-group" style="padding-bottom: 10px;">
          <label for="username" style="font-size: 0.8rem; font-weight: bold;">Usuário GitHub</label>
          <input type="text" id="username" formControlName="username" placeholder="Usuário GitHub">
        </div>
        <hr>
        <div class="input-group" style="padding-top: 20px;">
          <label for="avatar" style="font-size: 0.8rem; font-weight: bold;">Avatar (URL)</label>
          <input type="url" id="avatar" formControlName="avatar" placeholder="Link do seu Avatar">
        </div>
        <div class="input-group">
          <label for="name" style="font-size: 0.8rem; font-weight: bold;">Nome</label>
          <input type="text" id="name" formControlName="name" placeholder="Insira seu Nome">
        </div>
        <div class="input-group">
          <label for="email" style="font-size: 0.8rem; font-weight: bold;">Email</label>
          <input type="email" id="email" formControlName="email" placeholder="Insira seu Email">
        </div>
        <div class="input-group" style="padding-bottom: 10px;">
          <label for="city" style="font-size: 0.8rem; font-weight: bold;">Cidade</label>
          <input type="text" id="city" formControlName="city" placeholder="Insira sua Cidade">
        </div>
        <hr>
        <h2 style="text-align: center; padding-top: 20px;">Profissional</h2>
        <div class="input-group">
          <label for="formation" style="font-size: 0.8rem; font-weight: bold;">Formação</label>
          <input type="text" id="formation" formControlName="formation" placeholder="Insira sua Formação">
        </div>
        <div class="input-group">
          <label for="technologies" style="font-size: 0.8rem; font-weight: bold;">Tecnologias</label>
          <textarea id="technologies" formControlName="technologies" placeholder="ex: HTML/CSS, Vue, Angular etc."></textarea>
        </div>
        <button type="submit" class="submit-btn">Cadastrar</button>
      </form>
    </div>

    <div class="cards-container">
      <div class="card d-flex flex-row align-items-start" *ngFor="let dev of devs; let i = index"
        style="width: 350px; height: 200px; margin-bottom: 30px;">
        <div class="card-content">
          <img [src]="dev.avatar" [alt]="dev.name" class="img-fluid"
            style="max-width: 100px; margin-left: 220px; margin-top:-60px; margin-right: 10px; position: absolute;border: solid #1b1f23 5px;">
          <div style="margin-top: 20px;">
            <div class="row" style="position: relative; top: 27px;">
              <h3>{{ dev.name }}</h3>
            </div>
            <div class="row" style="position: relative; top: 24px;">
              <p>{{ dev.city }}</p>
            </div>
            <div class="row" style="position: relative; top: 27px;">
              <p>{{ dev.technologies }}</p>
            </div>
            <div class="row actions-container">
              <a href="#" class="github-link" (click)="openGitHub(dev.username)">Acessar GitHub</a>
              <div class="actions">
                <button class="edit-btn" (click)="editDev(i)"><i class="fa-regular fa-pen-to-square"></i></button>
                <button class="delete-btn" (click)="deleteDev(i)"><i class="fa-regular fa-trash-can"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>