<form [formGroup]="editDevForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <div class="panel-title">
      <span>Importar dados do GitHub</span>
    </div>

    <div class="panel-registry">
      <div class="field-container">
        <label for="github">Usuário GitHub</label>
        <input matInput id="github" formControlName="github" />
      </div>

      <div class="field-container">
        <button mat-raised-button (click)="importDataFromGithub()" type="button">
          <span class="github-span">Buscar</span>
          <fa-icon class="fa-2x" [icon]="['fab', 'github-square']"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="form-container">
    <div class="panel-title">
      <span>Preencha suas Informa&ccedil;&otilde;es</span>
    </div>

    <div class="info-registry">

      <div class="panel-registry">
        <div class="field-container">
          <label for="avatarURL">Avatar URL</label>
          <input matInput id="avatarURL" formControlName="avatarURL" />
        </div>

        <div class="field-container">
          <label for="name">Nome *</label>
          <input matInput id="name" formControlName="name" />
        </div>

        <div class="field-container">
          <label for="email">Email *</label>
          <input matInput id="email" formControlName="email" />
        </div>

        <div class="field-container">
          <label for="city">Cidade *</label>
          <input matInput id="city" formControlName="city" />
        </div>
      </div>

      <div class="panel-registry">

        <div class="field-container">
          <label for="graduation">Gradua&ccedil;&atilde;o *</label>
          <input matInput name="graduation" formControlName="graduation" />
        </div>

        <div class="field-container">
          <label for="techStack">Tecnologias *</label>
          <textarea
            matInput
            id="techStack"
            placeholder="ex: HTML/CSS, Vue, Angular, etc..."
            formControlName="techStack"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="panel-registry">
      <div class="field-container">
        <button mat-raised-button type="submit" [disabled]="!editDevForm.valid">
          <span>Cadastrar</span>
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
  </div>
</form>
