.box-form
    max-width: 90vw
    min-width 30vw
    padding 25px
    background-color: #fff
    box-shadow 0px 8px 16px rgba(0, 0, 0, 0.15)
    border-radius 3px
    margin-top -3%
    margin-bottom 15px
    & > div
        margin-bottom 15px
    & .from-github
        border 2px solid #4A5568
        border-radius 3px
        text-align center
        line-height 40px
        height 40px
    & input
        width 98%
        height 40px
        border-radius 3px
        border 2px solid #A0AEC0
        outline none
        margin-bottom 15px
    & #userGitHub
        background-color: #CFD8E3
    & .personal-information
        padding 15px 0
        border-top 1px solid #E2E8F0
        border-bottom:  1px solid #E2E8F0
    & .professional-information
        & h3 
            text-align center
            padding 0
            margin 0
            font-weight 700
            font-size 16px
    & textarea
        border-radius 3px
        outline none 
        width 98%
        border 2px solid #A0AEC0
    & button 
        color #322543D
        background-color #48BB78
        width 100%
        height 42px
        border-radius 3px
        border none 
        outline none
        cursor pointer
        font-size 16px
        &:disabled
            cursor not-allowed


label 
    display block
    margin-bottom 3px
    font-weight 500
    font-size 12px