<div class="desenvolvedor card-desenvolvedor ff-roboto-mono" >
  <img src="assets/imagens/.png" alt="Aspas coloridas">
  <p class="nome">{{ desenvolvedor.nome }} - <b>{{ desenvolvedor.profissao }}</b></p>
  <p class="camposComuns"> {{ desenvolvedor.cidade }}</p>
  <p class="camposComuns"> {{ desenvolvedor.tecnologias }}</p>
  <div class="acoes">
    <a href="{{ desenvolvedor.github }}" class="acesso-github">Acessar GitHub</a>
    <button class="botao-editar">
      <img src="assets/imagens/icone-editar.png" routerLink="/desenvolvedores/editarDesenvolvedor/{{desenvolvedor.id}}" alt="Icone de editar">
    </button>
    <button class="botao-excluir" routerLink="/desenvolvedores/excluirDesenvolvedor/{{desenvolvedor.id}}">
      <img src="/assets/imagens/icone-excluir.png" alt="Icone de excluir">
    </button>
  </div>
</div>
