@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap')
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'
    
body 
    font-family: 'Roboto'
    box-sizing: border-box
    margin: 0
    padding: 0
    border: 0
    background-color #E5E5E5