<mat-card class="formulario" mat-elevation-z4>
    <form>
        <button mat-raised-button (click)="cadastrarComGithub()">
            <img src="../../../../assets/img/github-icon.png" alt="Icone github" />
            Cadastrar com Github
        </button>
        <mat-form-field appearance="outline">
            <mat-label>Usuário Github</mat-label>
            <input matInput [(ngModel)]="desenvolvedor.githubURL" name="githubURL">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Avatar(URL)</mat-label>
            <input matInput [(ngModel)]="desenvolvedor.avatarURL" name="avatarURL">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="desenvolvedor.nome" name="nome">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="desenvolvedor.email" name="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input matInput [(ngModel)]="desenvolvedor.cidade" name="cidade">
        </mat-form-field>
        <mat-card-subtitle class="center strong">
            PROFISSIONAL
        </mat-card-subtitle>
        <mat-form-field appearance="outline">
            <mat-label>Formação</mat-label>
            <input matInput [(ngModel)]="desenvolvedor.formacao" name="formacao">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Tecnologias</mat-label>
            <input matInput [(ngModel)]="desenvolvedor.tecnologias" name="tecnologias">
        </mat-form-field>
        <button mat-raised-button (click)="createDesenvolvedor()" color="primary">
            Cadastrar
        </button>
    </form>
</mat-card>