<div class="list-card-Dev">
    <div class="imgGit">
    <img src="https://github.com/Chrcastilho.png" alt="avatar">
</div>
    <div class="cardContent">
        <div class="cardContainer">
            <section>
                <strong>
                    <p>Christian Castilho</p>
                </strong>
                <p>Maringá-PR</p>
                <p>Anuglar, Jquery, Vue</p>
            </section>
            <div class="side-right">           
            <strong><a href="https://github.com/Chrcastilho">Acessar Github</a></strong>
                <a class="fas fa-trash" href=""></a>
            </div>
            <br>
        </div>
    </div>
</div>