<div class="list-card-Dev">
    <div class="imgGit">
        <img [src]="avatarUrl" alt="avatar">
    </div>
    <div class="cardContent">
        <div class="cardContainer">
            <section>
                <strong>
                    <p>{{name}}</p>
                </strong>
                <p>{{city}}</p>
                <p>{{technologies}}</p>
            </section>
            <div class="footer">
                <strong><a [href]="linkGit">Acessar GitHub</a></strong>
                <div class="side-right">
                <button (click)="handleUpdateCard()">
                    <img src="/assets/images/icons/edit-icon.svg" alt="edit-image">
                </button>
                <button (click)="handleExcludeCard()">
                    <img src="/assets/images/icons/remove-icon.svg" alt="remove-image">
                </button>
            </div>
            </div>
        </div>
    </div>
    <br>
</div>