
<div class="content" role="main">

  <div class="card" style="width: 18rem;" *ngFor="let devs of developers">
    <div class="card-body">
      <div class="text-center">
        <img [attr.src]="devs.avatar_url"  width="100px" style="border-radius: 50px;">
      </div>
      <h4>{{ devs.login }}</h4>
      <p>Teste</p>
      <p>
        Tecnologias
      </p>
      <a href="{{ devs.html_url }}" class="card-link">Acessar GitHub</a>
      <!-- <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>

</div>
