.devs-list {
  text-align: center;
}

.devs-length {
  font-size: 3em;
  font-weight: 700;
  color: var(--light-0);
  display: inline-block;
  margin: 0 auto;
  padding: 0 0.25em;
  border-radius: 0.3em;
  background-color: var(--primary-0);
}
