<mat-card>
    <mat-card-header class="background primary">
        <img mat-card-avatar mat-card-md-image [src]="dev.avatarURL || defaultAvatarURL()" />
        <div>
            <mat-card-title>{{ dev.name }}</mat-card-title>
            <mat-card-subtitle>{{ dev.graduation }}</mat-card-subtitle>
        </div>
    </mat-card-header>
    <mat-card-content>
        <p>{{ dev.city }}</p>
        <p>{{ dev.techStack }}</p>
    </mat-card-content>
    <mat-card-footer>
        <div class="github-link">
            <a *ngIf="dev.github" [href]="githubLocation(dev)" target="_blank">Acessar GitHub</a>
        </div>
        <mat-card-actions>
            <button mat-icon-button (click)="editDev()"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="deleteDev()"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>
