<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Meu Mural</h2>
    <button routerLink="/criarDesenvolvedores" class="botao">Adicionar desenvolvedores</button>
  </header>
  <div class="mural" *ngIf="listaDesenvolvedores.length > 0, else semDesenvolvedores">
    <div *ngFor="let desenvolvedor of listaDesenvolvedores">
      <app-desenvolvedor [desenvolvedor]="desenvolvedor"></app-desenvolvedor>
    </div>
  </div>
</section>
<app-botao-carregar-mais
[haMaisDesenvolvedores]="haMaisDesenvolvedores"
(click)="carregarMaisDesenvolvedores()">

</app-botao-carregar-mais>
<ng-template #semDesenvolvedores>
  <div class="ff-inter sem-desenvolvedores">
    <p>Ainda não há Desenvolvedores cadastrados!</p>
  </div>
</ng-template>
