@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    --color-background: #F0F0F7;
    --color-primary: #1a202c;
    --color-secundary: #04D361;
    --color-secundary-dark: #04BF58;
    --color-text-in-primary: #ffffff;
    --color-text-title: #32264D;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100vh;
    /*Usa altura total da tela*/
}

body {
    background: var(--color-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea {
    font: 500 1.6rem Poppins;
    /*500 font heigth/1.6rem 60% a mais do font-size /font face*/
    color: var(--color-text-base);
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
     :root {
        font-size: 62.5%;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}