<div class="titulo">
  <h1 >Cadastro de Dev</h1>
</div>

<div class="form-container">
  <form>
    <div class="form-group">
      <button class="btn btn-custom">

        <img src="assets/imagens/github.png" class="btn-icon" >
        Cadastrar com GitHub
      </button>
    </div>
      <div class="form-group separador">
          <label for="githubUser">Usuário GitHub</label>
          <input type="text" class="form-control" id="githubUser" placeholder="Usuário GitHub">
      </div>
      <div class="form-group">
          <label for="avatarUrl">Avatar (URL)</label>
          <input type="text" class="form-control" id="avatarUrl" placeholder="Avatar (URL)">
      </div>
      <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" placeholder="Nome">
      </div>
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group separador">
          <label for="city">Cidade</label>
          <input type="text" class="form-control" id="city" placeholder="Cidade">
      </div>
      <div id="profissional">PROFISSIONAL</div>
      <div class="form-group">
          <label for="education">Formação</label>
          <input type="text" class="form-control" id="education" placeholder="Formação">
      </div>
      <div class="form-group">
          <label for="technologies">Tecnologias</label>
          <textarea class="form-control" id="technologies" rows="3" placeholder="ex: HTML/CSS, Vue, Angular etc."></textarea>
      </div>
      <button type="submit" id="botao_cadastar" class="btn btn-success">Cadastrar</button>
  </form>
</div>
