<div class="desenvolvedor card-desenvolvedor ff-roboto-mono" >
  <div class="profile-image-container">
    <img src="{{ foto_github }}" alt="Perfil" class="profile-image rounded-circle">
  </div>
  <p class="nome"><b>{{ desenvolvedor.nome.toUpperCase() }} </b></p>
  <p class="nome">{{ desenvolvedor.profissao }}</p>
  <p class="camposComuns"> {{ desenvolvedor.cidade.toUpperCase() }}</p>
  <p class="camposComuns"> {{ desenvolvedor.tecnologias }}</p>
  <div class="acoes">
    <a href="https:/github.com/{{ desenvolvedor.github }}" class="acesso-github">Acessar GitHub</a>
    <button class="botao-editar" >
      <img src="assets/imagens/icone-editar.png"  alt="Icone de editar" class="tamanho-imagens-botao" [routerLink]="['/editarDesenvolvedor', desenvolvedor._id]">
    </button>
    <button class="botao-excluir" (click)="confirmarExclusao()">
      <img src="/assets/imagens/icone-excluir.png" class="tamanho-imagens-botao" alt="Icone de excluir">
    </button>
  </div>
</div>
