.form-register {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  margin: 0 auto;
}

.github,
.pessoal,
.profissional {
  display: flex;
  flex-direction: column;
}

.pessoal {
  .photo {
    max-width: 100px;
    border-radius: 50%;
    margin: 0 auto 0.25em auto;
    border: 1px solid var(--light-2);
  }
}
